openapi: 3.0.0
info:
  title: OpenWeatherMap API
  version: '2.5'
  description: 'Get the current weather, daily forecast for 16 days, and a three-hour-interval forecast for 5 days for your city. Helpful stats, graphics, and this day in history charts are available for your reference. Interactive maps show precipitation, clouds, pressure, wind around your location stations. Data is available in JSON, XML, or HTML format. **Note**: This sample Swagger file covers the `current` endpoint only from the OpenWeatherMap API. <br/><br/> **Note**: All parameters are optional, but you must select at least one parameter. Calling the API by city ID (using the `id` parameter) will provide the most precise location results.'
  contact:
    url: 'https://openweathermap.org/api'
    email: some_email@gmail.com
  termsOfService: 'https://openweathermap.org/terms'
  license:
    name: CC Attribution-ShareAlike 4.0 (CC BY-SA 4.0)
    url: 'https://openweathermap.org/price'
servers:
  - url: 'https://api.openweathermap.org/data/2.5'
    description: prod
paths:
  /weather:
    get:
      operationId: get-weather
      description: 'Access current weather data for any location on Earth including over 200,000 cities! Current weather is frequently updated based on global models and data from more than 40,000 weather stations.'
      security:
        - app_id: []
      parameters:
        - schema:
            type: string
          in: query
          name: zip
          description: '**Zip code**. Search by zip code. *Example: 95050,us*. Please note that if the country is not specified, the search uses USA as a default.'
          required: true
        - schema:
            type: string
            enum:
              - metric
              - standard
              - imperial
            default: standard
          in: query
          name: units
          description: '**Units**. *Example: imperial*. Possible values: `standard`, `metric`, and `imperial`. When you do not use the `units` parameter, the format is `standard` by default.'
          required: true
        - schema:
            type: string
          in: query
          name: q
          description: '**City name**. *Example: London*. You can call by city name, or by city name and country code. The API responds with a list of results that match a searching word. For the query value, type the city name and optionally the country code divided by a comma; use ISO 3166 country codes.'
          required: true
        - schema:
            type: string
          in: query
          name: id
          description: '**City ID**. *Example: `2172797`*. You can call by city ID. The API responds with the exact result. The List of city IDs can be downloaded [here](http://bulk.openweathermap.org/sample/). You can include multiple cities in this parameter — just separate them by commas. The limit of locations is 20. *Note: A single ID counts as a one API call. So, if you have city IDs, it’s treated as 3 API calls.*'
          required: true
        - schema:
            type: string
          in: query
          name: lat
          required: true
          description: '**Latitude**. *Example: 35*. The latitude coordinate of the location of your interest. Must use with `lon`.'
        - schema:
            type: string
          in: query
          description: '**Longitude**. *Example: 139*. Longitude coordinate of the location of your interest. Must use with `lat `.'
          name: lon
          required: true
        - schema:
            type: string
            enum:
              - ar
              - bg
              - ca
              - cz
              - de
              - el
              - en
              - fa
              - fi
              - fr
              - gl
              - hr
              - hu
              - it
              - ja
              - kr
              - la
              - lt
              - mk
              - nl
              - pl
              - pt
              - ro
              - ru
              - se
              - sk
              - sl
              - es
              - tr
              - ua
              - vi
              - zh_cn
              - zh_tw
            default: en
          in: query
          name: lang
          description: '**Language**. *Example: en*. You can use lang parameter to get the output in your language. We support the following languages that you can use with the corresponded lang values: Arabic - `ar`, Bulgarian - `bg`, Catalan - `ca`, Czech - `cz`, German - `de`, Greek - `el`, English - `en`, Persian (Farsi) - `fa`, Finnish - `fi`, French - `fr`, Galician - `gl`, Croatian - `hr`, Hungarian - `hu`, Italian - `it`, Japanese - `ja`, Korean - `kr`, Latvian - `la`, Lithuanian - `lt`, Macedonian - `mk`, Dutch - `nl`, Polish - `pl`, Portuguese - `pt`, Romanian - `ro`, Russian - `ru`, Swedish - `se`, Slovak - `sk`, Slovenian - `sl`, Spanish - `es`, Turkish - `tr`, Ukrainian - `ua`, Vietnamese - `vi`, Chinese Simplified - `zh_cn`, Chinese Traditional - `zh_tw`.'
          required: true
        - schema:
            type: string
            enum:
              - json
              - xml
              - html
            default: json
          in: query
          name: mode
          description: '**Mode*. *Example: html. Determines the format of the response. Possible values are `json`, `xml`, and `html`. If the mode parameter is empty, the format is `json` by default.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  coord:
                    type: object
                    properties:
                      lon:
                        type: number
                        example: '145.77'
                        description: 'City geo location, longitude'
                      lat:
                        type: number
                        example: '-16.92'
                  cod:
                    type: number
                    example: '200'
                    description: |
                      Internal parameter
                  name:
                    type: string
                    example: Cairns
                    description: |
                      Name
                  id:
                    type: number
                    example: '2172797'
                    description: |
                      City ID
                  timezone:
                    type: number
                    example: '-28800'
                    description: |
                      the timezone for the station
                  sys:
                    type: object
                    properties:
                      type:
                        type: number
                        example: '1'
                        description: Internal parameter
                      id:
                        type: number
                        example: '8166'
                        description: Internal parameter
                      country:
                        type: string
                        example: AU
                        description: 'Country code (GB, JP etc,)'
                      sunrise:
                        type: number
                        example: '1435610796'
                        description: 'Sunrise time, unix, UTC'
                      sunset:
                        type: number
                        example: '1435650870'
                        description: '1435650870'
                  dt:
                    type: number
                    description: '1435658272'
                  clouds:
                    type: object
                    properties:
                      all:
                        type: number
                        example: '75'
                        description: 'Cloudiness, %'
                  wind:
                    type: object
                    properties:
                      speed:
                        type: number
                        description: 'Wind speed. Unit Default: meter/sec, Metric: meter/sec, Imperial: miles/hour'
                        example: '5.1'
                      deg:
                        type: number
                        description: 'Wind direction, degrees (meterological)'
                        example: '150'
                  visibility:
                    type: number
                    description: 'Visibility, meter'
                    example: '16093'
                  main:
                    type: object
                    properties:
                      temp:
                        type: number
                        description: 'Temperature. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                        example: '293.25'
                      feels_like:
                        type: number
                        description: What the weather feels like despite the actual numbers
                        example: '41.16'
                      temp_min:
                        type: number
                        description: 'Minimum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                        example: '289.82'
                      temp_max:
                        type: number
                        description: 'Maximum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.'
                        example: '295.37'
                      pressure:
                        type: number
                        example: '1019'
                        description: 'Atmospheric pressure (on the sea level, if there is no sea_level or grnd_level data), hPa’'
                      humidity:
                        type: number
                        example: '83'
                        description: 'Humidity, %'
                  base:
                    type: string
                    description: Internal parameter
                    example: cmc stations
                  weather:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          example: '803'
                          description: Weather condition id
                        main:
                          type: string
                          example: clouds
                          description: '‘Group of weather parameters (Rain, Snow, Extreme etc.)’'
                        description:
                          type: string
                          example: broken clouds
                          description: Weather condition within the group
                        icon:
                          type: string
                          example: 04n
                          description: Weather icon id
              examples: {}
    description: Access current weather data for any location on Earth including over 200
    000 weather stations.: null
    '000 cities! Current weather is frequently updated based on global models and data from more than 40': null
components:
  schemas: {}
  securitySchemes:
    app_id:
      type: apiKey
      in: query
      name: appid
  parameters:
    lon:
      name: lon
      in: query
      description: '**Longitude**. *Example: 139*. Longitude coordinate of the location of your interest. Must use with `lat`.'
      schema:
        type: string
